.navbar{
    width: 100%;
    height: 50%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo{
    color: #fff;
    font-size: 20px;
}
ul{
    display: inline-flex;
    gap: 10px;
}
ul>li{
    list-style: none;
 }

.link{
    text-decoration: none;
    color: #fff;
 }
 .cart-count{
    width: 20px;
    height: 20px;
    background-color: teal;
    display: inline-block;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    margin-right: 3px;
    padding-top: 3px;
 }
